#sponsors .content,
#sponsors-sidebar {
  div.lekkers {
    text-align:   center;
    font-size:    1.6em;
    padding-top:  0.8em;
  }

  div.poiesz {
    background:		white url('../images/sponsors/poiesz.jpg') no-repeat 0 0;
  }

  div.aukerauwerda {
    background:		white url('../images/sponsors/aukerauwerda.jpg') no-repeat 0 0;
  }

  div.overeinder {
    background:		white url('../images/sponsors/overeinder.png') no-repeat 50% 40px;
    padding-top:	85px;
    font-size:		1.2em;
    line-height:  1em;
    font-weight:	bold;
    text-align:   center;
  }

  div.mosselman {
    background:		white url('../images/sponsors/mosselman.png') no-repeat 50% 40px;
    padding-top:	40px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.formido {
    background:		white url('../images/sponsors/formido.png') no-repeat 50% 0px;
    font-size:		1.6em;;
    font-weight:	bold;
    text-align:   center;
    padding-top:  3.6em;
  }

  div.abs {
    background:		white url('../images/sponsors/abs.png') no-repeat 50% 40px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.peterjansen {
    background:		white url('../images/sponsors/peterjansen.png') no-repeat 50% 40px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.hoekstra
  {
    background:		white url('../images/sponsors/hoekstra.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.bakker
  {
    background:		white url('../images/sponsors/bakker.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.dnauta
  {
    background:		white url('../images/sponsors/nauta.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.vanleek {
    text-align:   center;
    font-size:    1.6em;
    padding-top:  1.4em;
  }

  div.nicoenaeltsje {
    text-align: center;
    padding-top: 0.2em;
  }

  div.amicaal
  {
    background:		white url('../images/sponsors/amicaal.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }
}
