
{{ "<!-- about -->" | safeHTML }}
  <section id="about" class="main special">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Over de zwemvereniging</h2>
        </header>
        <p>Welkom op de officiële website van ZV Middels&eacute;. Op deze site kunt u informatie vinden over de afdeling wedstrijdzwemmen van ZV Middels&eacute;, maar ook wat er ondernomen wordt op gebied van waterpolo.</p>
        <p>Binnen onze club vinden we niet alleen prestatie belangrijk, maar ook gezelligheid en plezier. Wij geloven dat als onze leden plezier hebben in de zwemsport, de gezelligheid en prestaties vanzelf volgen.</p>
      </div>
      <a href="#lidworden" class="goto-next scrolly"></a>
    </div>
  </section>
