
{{ "<!-- contributie -->" | safeHTML }}
  <section id="informatie" class="main">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Informatie</h2>
        </header>
        <p>
          <h4>Bestuur</h4>

          <table>
            <tr>
              <td>Voorzitter</td>
            </tr>
            <tr>
              <td>
                Marcel Bakker<br/>
                voorzitter@zvmiddelse.nl
              </td>
            </tr>
            <tr>
              <td>Secretaris</td>
            </tr>
            <tr>
              <td>
                Joyce Havenga<br/>
                secretaris@zvmiddelse.nl
              </td>
            </tr>
            <tr>
              <td>Penningmeester</td>
            </tr>
            <tr>
              <td>
                Jo-An Beers<br/>
                Postadres aanvragen via onderstaand mailadres.<br/>
                penningmeester@zvmiddelse.nl
              </td>
            </tr>
            <tr>
              <td>Vertrouwenspersoon SG Middels&eacute; - Skelp</td>
            </tr>
            <tr>
              <td>
                Liset Bosma
              </td>
            </tr>
            <tr>
              <td>Algemeen lid en ledenadministratie</td>
            </tr>
            <tr>
              <td>
                Rixt Jouta<br/>
                ledenadministratie@zvmiddelse.nl
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <td>Waterpolo&shy;secretariaat</td>
            </tr>
            <tr>
              <td>
                Geertje Nauta<br/>
                Rudie Nauta<br/>
                waterpolo@zvmiddelse.nl
              </td>
            </tr>
            <tr>
              <td>Zwem&shy;secretariaat</td>
            </tr>
            <tr>
              <td>
                VACANT<br/>
                zwemmen@zvmiddelse.nl
              </td>
            </tr>
          </table>
        </p>

        <p>
          <h4>Privacyverklaring</h4>
          U kunt de privacyverklaring van zwemvereniging Middelsé <a href="docs/privacyverklaring.pdf" target="_blank">hier</a> vinden.
        </p>

        <p>
          <h4>Statuten</h4>
          U kunt de statuten van zwemvereniging Middelsé <a href="docs/statuten-middelse.pdf" target="_blank">hier</a> vinden.
        </p>

        <p>
          <h4>Gedragsregels</h4>
          Voor gedragsregels tijdens trainingen en wedstrijden kunt u het <a href="docs/huishoudelijk-regelement-zvm.doc" target="_blank">Huishoudelijk Regelement</a> raadplegen.
        </p>
      </div>
      <a href="#zwembad" class="goto-next scrolly"></a>
    </div>
  </section>
