
{{ "<!-- jubileum -->" | safeHTML }}
  <section id="jubileum" class="main special">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Feest! 40-jarig jubileum</h2>
        </header>
      </div>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfzUWHitytzQuy5pqbs7jj_YF51ugn70cyuPI-uDcsPy0J67g/viewform?embedded=true" width="640" height="640" frameborder="0" marginheight="0" marginwidth="0">Laden…</iframe>
      <a href="#lidworden" class="goto-next scrolly"></a>
    </div>
  </section>
