
{{ "<!-- trainingstijden -->" | safeHTML }}
  <section id="trainingstijden" class="main special">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>trainingstijden</h2>
        </header>
        <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="day">
              <td colspan="3"><strong>Maandag</strong></td>
            </tr>
            <tr>
              <td>18.00 – 19.00</td>
              <td>Wedstrijdzwemmen (Sint Annaparochie)</td>
            </tr>
            <tr>
              <td>20.00 – 21.00</td>
              <td>Waterpolo dames en recreanten (Sint Annaparochie)</td>
            </tr>
            <tr class="day">
              <td colspan="3"><strong>Dinsdag</strong></td>
            </tr>
            <tr>
              <td>18.00 – 19.00</td>
              <td>Heren conditie<br>
                Dames conditie<br></td>
            </tr>
            <tr>
              <td>18.00 – 19.00</td>
              <td>Wedstrijdzwemmen (Sint Annaparochie)</td>
            </tr>
            <tr class="day">
              <td colspan="3"><strong>Woensdag</strong></td>
            </tr>
            <tr>
              <td>17.00 – 18.00</td>
              <td>Zwemmen jeugd</td>
            </tr>
            <tr>
              <td>18.00 – 19.00</td>
              <td>Waterpolo jeugd</td>
            </tr>
            <tr>
              <td>20.30 – 21.30</td>
              <td>Senioren recreanten<br>
                Triathleten</td>
            </tr>
            <tr class="day">
              <td colspan="3"><strong>Donderdag</strong></td>
            </tr>
            <tr>
              <td>20.30 – 21.45</td>
              <td>Heren waterpolo</td>
            </tr>
            <tr class="day">
              <td colspan="3"><strong>Vrijdag</strong></td>
            </tr>
            <tr>
              <td>18.00 – 19.00</td>
              <td>Wedstrijdzwemmen (Sint Annaparochie)</td>
            </tr>
            <tr>
              <td>20.30 – 21.45</td>
              <td>Dames waterpolo<br>
                Heren waterpolo</td>
            </tr>
            <tr class="day">
              <td colspan="3"><strong>Zaterdag</strong></td>
            </tr>
            <tr>
              <td>12.00 – 13.00</td>
              <td>Dolfijntjes (onder 11 jaar)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="#skills" class="goto-next scrolly"></a>
    </div>
  </section>
